<div class="text-center mb-6">
    <i class="fas fa-check-circle" aria-hidden="true" style="font-size: 60px;"></i>
    <h1 class="font-normal mt-4"><b>PhishDetect</b> OK</h1>
</div>

{% if safelisted %}
<div class="border-l-8 border-green-lighter mb-8 bg-green-lightest text-green-darker p-6 rounded-lg leading-normal">The domain the link leads to is <b>safelisted</b>! It appears to be a legitimate {% if brand %}<i class="fab fa-{{brand}}"></i> <b>{{brand|capfirst}}</b>{% endif %} site.</div>
{% endif %}

<div class="border-l-8 border-blue-lighter mb-8 bg-blue-lightest text-blue-darker p-6 rounded-lg leading-normal">
    <div style="word-break: break-all;">We analyzed the link: <span class="font-mono bg-blue-lighter text-blue-darkest">{{url}}</span>. No suspicious elements have been found in this page.</div>
    <div class="mt-4"><b>Please notice:</b> this does not guarantee that the page is completely safe</b> (for example, it might evade our detection or identify our service and redirect instead to a legitimate page), please always be cautious. <b>If you believe this assessment is wrong, and suspect this page to be suspicious, please <a class="text-blue hover:no-underline hover:text-blue-dark" href="/report/{{urlFinalEncoded}}?key={{key}}">report it to us!</a></b></div>
</div>

{% if urlFinal and url != urlFinal %}
<div class="mb-8">The original URL <span class="font-mono bg-grey-lighter" style="word-break: break-all;">{{url}}</span> redirected to the final URL <span class="font-mono bg-grey-lighter" style="word-break: break-all;">{{urlFinal}}</span></div>
{% endif %}

<div class="mb-4">Following is a screenshot preview of the website.</div>
<div class="text-center"><img class="rounded-lg shadow-lg w-full border-t-2 border-grey-lighter" src="{{screenshot}}" /></div>

<div class="text-center mt-16"><a href="{{url}}" class="border-b-8 rounded text-xl cursor-pointer px-6 py-4 no-underline bg-blue border-blue-dark text-white hover:bg-blue-light hover:border-blue"><i class="fas fa-link" title="This link leads to an external page"></i> Continue to the link now</a></div>
