{% extends "_layout.html" %}

{% block content %}
<div class="text-center mb-6">
    <img src="/static/images/icon.png" class="h-16 mb-4" />
    <h1 class="font-normal"><b>PhishDetect</b></h1>
</div>

<div>You can find more information and contact details for your PhishDetect Node operator at the following address:</div>
<div class="mt-4"><a class="text-blue hover:no-underline hover:text-blue-dark" href="{{ contacts }}"><i class="fas fa-link" title="This link leads to an external page"></i> {{ contacts }}</a></div>
{% endblock %}
