{% extends "_layout.html" %}

{% block content %}
<div class="text-center mb-6">
    <img src="/static/images/icon.png" class="h-16 mb-4" />
    <h1 class="font-normal"><b>PhishDetect</b></h1>
</div>

<div class="text-center">This is a <b>PhishDetect Node</b>. For more information on what this is, visit the <a class="text-blue hover:no-underline hover:text-blue-dark" href="https://phishdetect.io"><i class="fas fa-link" title="This link leads to an external page"></i> official website</a> of the PhishDetect project.</div>
{% endblock %}
