{% extends "_layout.html" %}

{% block content %}
<div class="text-center mb-6">
    <img src="/static/images/icon.png" class="h-16 mb-4" />
    <h1 class="font-normal"><b>PhishDetect</b></h1>
</div>

<p class="mt-4 mb-4 font-bold leading-normal">This PhishDetect Node requires registration!</p>

<p class="mb-4 leading-normal">Complete this form to obtain a <b>secret token</b>. A secret token is a unique string that is provided to you, after registration, in order to authenticate your access to the PhishDetect Node. Once your account is activated by the <a class="text-blue hover:no-underline hover:text-blue-dark" href="/contacts/">PhishDetect Node administrators</a> you will be able to use the generated secret token with the PhishDetect Browser Extension.</p>

<form action="/register/" method="POST">
    <label for="name">
        <div class="font-bold">Your preferred name / Your organization name</div>
        <div class="text-grey-darker">This information is necessary in order to verify your request and activate your account.</div>
    </label>
    <div class="mt-2 mb-6"><input type="text" class="block appearance-none w-full bg-white border border-grey-light px-4 py-4 rounded focus:border-blue-light" id="name" name="name" /></div>

    <label for="email">
        <div class="font-bold">Your email address</div>
        <div class="text-grey-darker">Please provide a functioning email address. If you can, please use an organizational email account.</div>
    </label>
    <div class="mt-2 mb-6"><input type="text" class="block appearance-none w-full bg-white border border-grey-light px-4 py-4 rounded focus:border-blue-light" id="email" name="email" /></div>

    <div class="mt-6"><button type="submit" class="bg-blue hover:bg-blue-light text-white py-2 px-4 border-b-4 border-blue-dark hover:text-white hover:no-underline hover:border-blue rounded cursor-pointer"><i class="fas fa-user-plus"></i> Register</button></div>
</form>
{% endblock %}
