{% extends "_layout.html" %}

{% block content %}
<div class="text-center mb-6">
    <img src="/static/images/icon.png" class="h-16 mb-4" />
    <h1 class="font-normal"><b>PhishDetect</b></h1>
</div>

<p class="mb-2 leading-normal"><b>Your registration request was sent successfully! <i class="far fa-smile"></i></b> This is your <b>secret token</b>:</p>

<div class="font-mono bg-blue-lightest text-blue-darkest rounded-lg mt-4 mb-4 p-8 text-lg">{{ key }}</div>

<p class="leading-normal">You can immediately copy your secret token to your PhishDetect browser extension through the settings menu from the browser toolbar. <b>However, the secret token is not activated yet!</b> Once the <a class="text-blue hover:no-underline hover:text-blue-dark" href="/contacts/">PhishDetect Node administrators</a> have activated it, your PhishDetect browser extension will start working.</p>
{% endblock %}
