{% extends "_layout.html" %}

{% block content %}
<div class="text-center mb-6">
    <img src="/static/images/icon.png" class="h-16 mb-4" />
    <h1 class="font-normal"><b>PhishDetect</b></h1>
</div>

<p class="mt-4 mb-4 font-bold leading-normal">Thank you for joining our PhishDetect closed beta!</p>

<p class="mb-4 leading-normal">In order to provide a more secure service, and to conduct a more trusted beta program, we now require users to register for a <b>secret token</b> in order to access this service. A secret token is a unique string that is provided to you, after registration, in order to authenticate your access to the PhishDetect Node. Once your account is activated by the <a class="text-blue hover:no-underline hover:text-blue-dark" href="/contacts/">PhishDetect Node administrators</a> you will be able to use the generated secret token with the PhishDetect browser extension.</p>

<p class="mb-4 leading-normal">The secret token does not have to be personal, and we welcome sharing the same code among colleagues. However, please do not share the secret token too widely or publish it. We will disable secret tokens we found being abused.</p>

<p class="bg-blue-lightest border-l-8 border-blue-lighter text-blue-darker p-4 mb-8 rounded-lg leading-normal"><b>Please note:</b> because we are currently manually vetting and activating registered accounts, we will prioritize requests from recognizable and verifiable individuals and organizations. Unverifiable accounts will most likely be rejected at this time.</p>

<form action="/register/" method="POST">
    <label for="name">
        <div class="font-bold">Your preferred name</div>
        <div class="text-grey-darker">You do not need to provide <i>your</i> own name. You can also, for example, provide the name of the organization you work with.</div>
    </label>
    <div class="mt-2 mb-6"><input type="text" class="block appearance-none w-full bg-white border border-grey-light px-4 py-4 rounded focus:border-blue-light" id="name" name="name" /></div>

    <label for="email">
        <div class="font-bold">Your email address</div>
        <div class="text-grey-darker">Please provide a functioning email address. If you can, please use an organizational email account.</div>
    </label>
    <div class="mt-2 mb-6"><input type="text" class="block appearance-none w-full bg-white border border-grey-light px-4 py-4 rounded focus:border-blue-light" id="email" name="email" /></div>

    <div class="mt-6"><button type="submit" class="bg-blue hover:bg-blue-light text-white py-2 px-4 border-b-4 border-blue-dark hover:text-white hover:no-underline hover:border-blue rounded cursor-pointer"><i class="fas fa-user-plus"></i> Register</button></div>
</form>
{% endblock %}
