{% extends "_layout.html" %}

{% block content %}
<div class="text-center mb-6">
    <img src="/static/images/icon.png" class="h-16 mb-4" />
    <h1 class="font-normal"><b>PhishDetect</b> Report</h1>
</div>

<div>Thank you for reporting the following link as suspicious:</div>
<div class="font-mono border-l-8 border-red-lighter mt-6 mb-6 bg-red-lightest text-red-darker p-6 rounded-lg leading-normal">{{ url }}</div>
<div class="">We will investigate this as soon as possible. If you would like to get in contact with the administrators of this PhishDetect Node, you can find their contact details <a class="text-blue hover:no-underline hover:text-blue-dark" href="/contacts/">here</a>.</div>
{% endblock %}
