{% extends "_layout.html" %}

{% block content %}
<div class="text-center mb-6">
    <img src="/static/images/icon.png" class="h-16 mb-4" />
    <h1 class="font-normal"><b>PhishDetect</b> Review</h1>
</div>

<div>Thank you for requesting the review of the following link as a false positive:</div>
<div class="font-mono border-l-8 border-green-lighter mt-6 mb-6 bg-green-lightest text-green-darker p-6 rounded-lg leading-normal">{{ original }}</div>
<div class="">We will investigate this further and eventually remediate as soon as possible. If you continue experiencing issues, please get in contact with your <a class="text-blue hover:no-underline hover:text-blue-dark" href="/contacts/">PhishDetect Node Administrators</a>. For more information, refer to the official <a class="text-blue hover:no-underline hover:text-blue-dark" href="https://phishdetect.io/help/"><i class="fas fa-link" title="This link leads to an external page"></i> Help</a> page.</div>
{% endblock %}
