<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>PhishDetect - Anti-Phishing Service</title>
    <link rel="stylesheet" href="/static/css/tailwind.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/fontawesome-all.min.css">
</head>
<body class="bg-grey-lighter pt-16 pb-16">
    <div id="container" class="container mx-auto justify-center items-center bg-white p-16 rounded-lg">
        <div class="text-center mb-6">
            <img src="/static/images/icon.png" class="h-16 mb-4" />
            <h1 class="font-normal"><b>PhishDetect</b> Review</h1>
        </div>

        <div>You reported the following indicator as a false positive:</div>
        <div class="font-mono bg-blue-lightest rounded-lg mt-4 mb-4 p-4">{{ original }}</div>
        <div class="">Thank you for reporting this issue to us. We will investigate this further and eventually remediate as soon as possible. If you continue experiencing issues, please get in contact with your <a class="text-blue hover:no-underline hover:text-blue-dark" href="/contacts/">PhishDetect Node Operators</a>. For more information, refer to the official <a class="text-blue hover:no-underline hover:text-blue-dark" href="https://phishdetect.io/help/"><i class="fas fa-link" title="This link leads to an external page"></i> Help</a> page.</div>
    </div>
    <div class="mt-4 text-grey-dark text-sm text-center">This service runs <a class="text-grey-darker hover:no-underline hover:text-grey-darkest" href="https://phishdetect.io"><i class="fas fa-link" title="This link leads to an external page"></i> PhishDetect</a>, a tool released under AGPL v3.0 and copyrighted by &copy;2018-2019 Claudio Guarnieri.</div>
</body>
</html>
