<div class="text-center mb-6">
    <i class="fas fa-exclamation-triangle" aria-hidden="true" style="font-size: 60px;"></i>
    <h1 class="font-normal mt-4"><b>PhishDetect</b> Warning</h1>
</div>

{% if errors %}
<div class="border-l-8 border-red-lighter mb-8 bg-red-lightest text-red-darker p-6 rounded-lg leading-normal">
    <b>Sorry!</b> We were <b>not able</b> to analyze the provided URL <span class="font-mono">{{url}}</span>
    <p>The following errors occurred:</p>
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% else %}
    {% if dangerous %}
        <div class="border-l-8 border-yellow-lighter mb-8 bg-yellow-lightest text-yellow-darker p-6 rounded-lg leading-normal">
            <div style="word-break: break-all;">We analyzed the link: <span class="font-mono bg-yellow-lighter text-yellow-darkest">{{url}}</span></div>
            <div class="mt-2">While this is a legitimate <i class="fab fa-{{brand}}"></i> {{brand|capfirst}} site, we advise caution. Some services offer functionality often abused by malicious attackers. This link leads to one such risky legitimate services, therefore we are not able to automatically determine whether it's safe to proceed.</div>

            <h4 class="mt-4 mb-2">Following are some examples:</h4>
            <div>
                <ul>
                    <li>Services like Google or Microsoft allow for <b>third-party applications</b> to connect to your account (for example, to import invitations into an external calendar service). An attacker might try to obtain access to your account by tricking you into granting a malicious third-party application access to it.</li>
                    <li>Google, for example, offers to host pages at <b>sites.google.com</b>. Attackers often abuse this service to serve their phishing websites.</li>
                </ul>
            </div>
        </div>
    {% else %}
        {% if score >= 30 and score <= 50 %}
        <div class="border-l-8 border-yellow-lighter mb-8 bg-yellow-lightest text-yellow-darker p-6 rounded-lg leading-normal">
            <div style="word-break: break-all;">We analyzed the link: <span class="font-mono bg-yellow-lighter text-yellow-darkest">{{url}}</span></div>
            <div>This website has suspicious properties. This <b>could be a phishing site{% if brand %} impersonating <i class="fab fa-{{brand}}"></i> {{brand|capfirst}}{% endif %}</b>, but we couldn't determine more conclusively. Please proceed with caution.</div>
        {% elif score > 50 %}
        <div class="border-l-8 border-red-lighter mb-8 bg-red-lightest text-red-darker p-6 rounded-lg leading-normal">
            <div style="word-break: break-all;">We analyzed the link <span class="font-mono bg-red-lighter text-red-darkest">{{url}}</span></div>
            <div>This website has very suspicious properties. This is <b>highly likely a phishing site{% if brand %} impersonating <i class="fab fa-{{brand}}"></i> {{brand|capfirst}}{% endif %}</b>. We recommend to not proceed to this page.</div>
        {% endif %}

            <h4 class="mt-4">Warnings</h4>

            <div id="warnings" class="collapse" role="tabpanel">
                <ul>
                    {% for warning in warnings %}
                    <li>{{warning.Description}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if urlFinal and url != urlFinal %}
    <div class="mb-8">The original link <span class="font-mono bg-grey-lighter" style="word-break: break-all;">{{url}}</span> redirected to the final URL <span class="font-mono bg-grey-lighter" style="word-break: break-all;">{{urlFinal}}</span></div>
    {% endif %}

    <div class="mb-4">Following is a screenshot preview of the website.{% if brand and not safelisted %} Bear in mind, <b>this website is not a legitimate {{brand|capfirst}} site.</b>{% endif %}</div>
    <div class="text-center"><img class="rounded-lg shadow-lg w-full border-t-2 border-grey-lighter" src="{{screenshot}}" width="100%" alt="Screenshot not available" /></div>
{% endif %}

<div class="text-center mt-16"><a href="{{url}}" class="border-b-8 rounded text-xl cursor-pointer px-6 py-4 no-underline bg-red border-red-dark text-white hover:bg-red-light hover:border-red" role="button" onclick="return confirm('Are you sure?');"><i class="fas fa-link" title="This link leads to an external page"></i> Continue anyway at my own risk!</a></div>
